
.carousel-caption{
    width:100%;
    height:100%;
    left:0;
    bottom:0;   
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 5px;
    padding-left: 150px;
    padding-bottom: 20px;
    background-color:rgba(0,0,0,0.5);
}

.profilePicture{
    background-image: url("../images/defaultProfile.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    aspect-ratio: 1/1;
}

.body{
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

html {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

.video-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    height: 0;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.cursor-pointer{
    cursor: pointer;
}

pre {
    z-index: 10;
    background-color: white;
}

#StudentsHeader{
    gap: 20px;
}
.accordion-header{
    position: relative;
}
.edit-chapter-btn{
    position: absolute;
    top: 50%;
    right: 50px;
    transform: translateY(-50%);
    z-index: 5;
}
.edit-lesson-btn{
    position: absolute;
    top: 50%;
    right: 50px;
    transform: translateY(-50%);
    z-index: 5;
}
.edit-course-btn{
    z-index: 5;
}
.edit-activity-btn{
    position: absolute;
    top: 50%;
    right: 50px;
    transform: translateY(-50%);
    z-index: 5;
}
.navbar-red{
    background-color: #6A0106;
}

.sscr-icon{
    background-image: url('../images/sscr-logo.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50px;
    width: 50px;
}

.login-or{
    width: 100%;
    position: relative !important;
}

.login-or .text{
    background-color: white;
    z-index: 1;
    width: 25px;
    text-align: center;
}

.login-or .line{
    position: absolute !important;
    border: 1px solid black;
    width: 100%;
    top: 55%;
}

.courses-card{
    border: 1px solid gainsboro;
}

#FeaturedCourses, #MyCourses {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
    margin-top: 8px;
}

#FeaturedCourses > a, #MyCourses > a {
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

#FeaturedCourses > a:hover, #MyCourses > a:hover {
    border-color: black;
    transition: 750ms;
}

#FeaturedCoursesSearch {
    height: 25px !important;
    padding: 5px;
}

.course-description {

}